label{color:#777;font-size:12px;text-transform:uppercase;}
#search{font-size:16px;width:45%;}#search input,#search select{color:#444;font-size:16px;padding-left:7px;}
#search input[type="text"]{padding:7px;}
#search input[type="submit"]{font-weight:normal;font-size:14px;}
#year,#submit{width:25%;}
#country,#disaster_type{width:100%;}
