#main{margin:0 auto;width:90%;}
.controls{height:64px;margin:0 auto 75px;width:75%;}.controls .play{background:url('/static/img/play_button.png') no-repeat left center;display:block;float:left;height:64px;width:14%;}
.controls .timeline{float:right;margin:24px auto 0;width:85%;}
#chart{float:left;width:60%;}
.countries{background:#db7019;float:right;height:300px;width:30%;}
iframe{width:100%;}
