.hurricane_bg{
  background: url('/static/img/hurricane_border.png') no-repeat center center;
  height: 575px;
  margin: 0 auto 80px;
  width: 1024px;
}
.large{
  font-size: 20px;
  line-height: 1.7;
  margin: 40px auto;
  text-align: justify;
  width: 75%;
}
.drought_bg{
  background: url('/static/img/drought_red.png') no-repeat center center;
  height: 575px;
  margin: 0 auto;
  width: 1024px;
}
.lightning_bg{
  background: url('/static/img/lightning_red.png') no-repeat center center;
  height: 575px;
  margin: 0 auto;
  width: 1024px;
}
.bridge_bg{
  background: url('/static/img/bridge_red.png') no-repeat center center;
  height: 575px;
  margin: 0 auto;
  width: 1024px;
}
.cloud_bg{
  background: url('/static/img/cloud_bg.png') no-repeat center center;
  height: 575px;
  margin: 0 auto;
  width: 1024px;
}
