@green: #8fc829;
@color: #5b282a;
@dark: #0c0505;

/* Link Color and Styles */
a, a:active, a:visited { color: @color; }
a:hover { text-decoration: underline; }


/* Custom highlight */
::-moz-selection{ background: @color; color:#fff; text-shadow: none; }
::selection { background: @color; color:#fff; text-shadow: none; }

/* I never find myself really using list-style. */
ul{ list-style: none; }

/* Default color for the site */
body{ color: @dark; }

header{
    display:block;
    margin-bottom: 35px;
    ul{
        margin:0 auto;
        padding:10px 0;
        width:90%;
    }
    li{
        float: right;
        padding-top: 38px;
    }
    li.float_left{
        float:left;
        padding-top: 10px;
        a{
          background: url('/static/img/disastermath_small_red.png') no-repeat center center;
          height: 80px;
          width: 200px;
        }
    }
    a{
        display:block;
        font-size:16px;
        padding:10px 12px;
        width:100px;
        text-align:center;
        text-decoration:none;
    }
    a, a:visited{
        color: @dark;
    }
    a:hover{
        background: @color;
        color: white;
        text-decoration: none;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
    }
}

#main{
    margin: 0 auto;
    width: 90%;
}

footer{
    margin: 125px 0 0;
    .cfa{
        background: url('/static/img/cfa_dark.png') no-repeat center center;
        height: 34px;
        margin: 0 auto;
        padding: 20px;
        width: 90px;
    }
    .cfa:hover{
    }
}

.flask_cloud{
    background: url('/static/img/flaskcloud.png') no-repeat center center;
    display: block;
    height: 300px;
    margin: 0 auto;
    width: 460px;
}
.flask_cloud:hover{
    background: url('/static/img/flaskcloud_hover.png') no-repeat center center;
}


/* iPad [portrait + landscape] */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) { }

/* iPad [portrait only] */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)
and (orientation: portrait) { }

/* iPad [landscape only] */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)
and (orientation: landscape) { }

/* iPhone [portrait + landscape] */
@media only screen and (max-device-width: 480px) { }
