{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/smoothness/jquery-ui.css">
{% endblock %}


{% block js %}
<!--JavaScript for map-->
<script src="/static/js/disastermath.js"></script>
{% endblock %}


{% block main %}
<div class="controls">
  <a href="#" class="play clearfix"></a>
  <div class="timeline"></div>
</div>
<div class="clearfix visualization">
  <div id="chart"></div>
  <ul class="countries">
  </ul>
</div>
{% endblock %}
