{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/index.css">
{% endblock %}


{% block js %}
{% endblock %}


{% block main %}
<div class="hurricane_bg"></div>
<p class="large">This project has two purposes. The first: create an <a
  href="{{ url_for('views.data') }}">open-source disaster dataset</a> that
contains data on all the common elements of disasters. The second: <a
  href="{{ url_for('views.research') }}">quantify how
  well cities and countries have coped with disasters</a> relative to similar
disasters in similarly developed countries.</p>
{% endblock %}
